.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    margin: 0;
    text-align: center;
  }
  
  section {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  h2 {
    margin: 0;
    text-align: center;
  }

  
  ul {
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }


  h1 {
    background-color: hwb(177 0% 0%);
    padding: 4px;
    border-radius: 5%;
  }
  .profil {
    width: 150px;
    border-radius: 10%;
    margin: 0px 0px 0px 170px;
    
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }